flow.json
[{"id":"98fb2efb.d261c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"46d68297.8c799c","type":"inject","z":"98fb2efb.d261c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":373,"y":148,"wires":[["16fdf7c2.ca5d48"]]},{"id":"1c9c59ef.aa4db6","type":"debug","z":"98fb2efb.d261c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":822,"y":136,"wires":[]},{"id":"16fdf7c2.ca5d48","type":"function","z":"98fb2efb.d261c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":583,"y":212,"wires":[["1c9c59ef.aa4db6"]]}]