flow.json
[{"id":"98fb2efb.d261c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"46d68297.8c799c","type":"inject","z":"98fb2efb.d261c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":373,"y":148,"wires":[["2c61b6ed.2a1faa"]]},{"id":"1c9c59ef.aa4db6","type":"debug","z":"98fb2efb.d261c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":822,"y":136,"wires":[]},{"id":"2c61b6ed.2a1faa","type":"template","z":"98fb2efb.d261c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":581,"y":163,"wires":[["1c9c59ef.aa4db6"]]}]